/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
	/*Image only BG fallback*/
}

body {
	font-family: arial, verdana;
	background: #d9d9d9;
}

/*form styles*/
#msform {
	width: 100%;
	min-width: 800px;
	margin: 50px auto;
	text-align: center;
	position: relative;
	padding: 20px;
	background-color: white;
	z-index: 1; /* prevent hiding of .step::active */
}

#msform fieldset {
	border-radius: 3px;
	width: 100%;
	min-width: 700px;
	height: 100%;
	position: relative; /* stack fieldsets vertically */
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}

/*inputs*/
#msform input {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	color: #2C3E50;
	font-size: 13px;
}

/*buttons*/
#msform .action-button {
	width: 100px;
	background: #1e90ff;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}

#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #a5d3ff;
}

/*headings*/
.header {
  text-align: center;
  width: 100%;
  min-width: 700px;
  margin-bottom: 50px;
}

.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}

.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}

/*progressbar*/
#progressbar_wrapper {
  margin-bottom: 20px;
  width: 100%;
  min-width: 700px;
}

#progressbar {
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  position: relative;
}

#progressbar li {
  float: left;
  margin-right: 20px;
  width: 200px;
}

.step {
  display: inline-block;
  font-size: 9px;
  background-color: #a5d3ff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
}

.step.active {
  display: inline-block;
  font-size: 9px;
  background-color: #1e90ff;
	color: white;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
}

.step::after {
  content: '';
  background-color: #a5d3ff;
  height: 5px;
  width: 205px;
  display: block;
  position: absolute;
  margin-left: -200px;
  margin-top: -20px;
  z-index: -1;
}

.step.active::after {
  content: '';
  background-color: #1e90ff;
  height: 5px;
  width: 205px;
  display: block;
  position: absolute;
  margin-left: 20px;
  margin-top: -20px;
  z-index: -1;
}

li:last-child .step.active::after {
  display: none;
}

.step_description {
  display: inline-block;
  margin-top: 10px;
}

